booster_project:
    resource: "@BoosterBundle/Resources/config/routing/project.yml"
    prefix:   /project

booster_booster:
    resource: "@BoosterBundle/Resources/config/routing/booster.yml"
    prefix:   /booster

booster_homepage:
    path:     /
    defaults: { _controller: BoosterBundle:Front:index }

booster_cgv:
    path:     /cgv
    defaults: { _controller: BoosterBundle:Front:cgv }

booster_faq:
    path:     /faq
    defaults: { _controller: BoosterBundle:Front:faq }

booster_charte:
    path:     /charte
    defaults: { _controller: BoosterBundle:Front:charte }

booster_mentions_legales:
    path:     /mentions-legales
    defaults: { _controller: BoosterBundle:Front:mentionsLegales }

booster_equipe:
    path:     /equipe
    defaults: { _controller: BoosterBundle:Front:equipe }

booster_contact:
    path:     /contact
    defaults: { _controller: BoosterBundle:Front:contact }

booster_inscription_choix:
    path:     /inscription
    defaults: { _controller: BoosterBundle:Front:inscriptionChoix }

dashboard_society:
    path:     /dashboard-booste
    defaults: { _controller: BoosterBundle:Dashboard:society }

dashboard_booster:
    path:     /dashboard-booster/{id}/
    defaults: { _controller: BoosterBundle:Dashboard:booster }
    methods:  GET

dashboard_booster_edit:
    path:     /dashboard-booster-edit/{id}/
    defaults: { _controller: BoosterBundle:Dashboard:boosterEdit }
    methods:  [GET, POST]

booster_how_it_works:
    path:     /comment-ca-marche
    defaults: { _controller: BoosterBundle:Front:howItWorks }

new_project:
    path:     /deposer-un-projet
    defaults: { _controller: BoosterBundle:Project:new }

list_society:
    path: /liste-de-societes/{page}
    defaults: { _controller: "BoosterBundle:Front:listSociety", page: 1}
    requirements:
        page: \d+

