booster_messenger:
    resource: "@BoosterBundle/Resources/config/routing/messenger.yml"
    prefix:   /messenger

booster_homepage:
    path:     /
    defaults: { _controller: BoosterBundle:Front:index }

booster_cgv:
    path:     /cgv
    defaults: { _controller: BoosterBundle:Front:cgv }

booster_f_a_q:
    path:   /FAQ
    defaults: { _controller: BoosterBundle:Faq:faqPage }

booster_charte:
    path:     /charte
    defaults: { _controller: BoosterBundle:Front:charte }

booster_mentions_legales:
    path:     /mentions-legales
    defaults: { _controller: BoosterBundle:Front:mentionsLegales }

booster_equipe:
    path:     /equipe
    defaults: { _controller: BoosterBundle:Front:equipe }

booster_contact:
    path:     /contact
    defaults: { _controller: BoosterBundle:Front:contact }

booster_inscription_choix:
    path:     /inscription
    defaults: { _controller: BoosterBundle:Front:inscriptionChoix }

dashboard_society:
    path:     /dashboard-booste/{slug}
    defaults: { _controller: BoosterBundle:Dashboard:society }
    methods: GET

dashboard_society_new:
    path:     /dashboard-booste-new/{id}/
    defaults: { _controller: BoosterBundle:Dashboard:societyNew }
    methods:  [GET, POST]

dashboard_society_edit:
    path:     /dashboard-booste-edit/{slug}/
    defaults: { _controller: BoosterBundle:Dashboard:societyEdit }
    methods:  [GET, POST]

dashboard_booster:
    path:     /dashboard-booster/{slug}
    defaults: { _controller: BoosterBundle:Dashboard:booster }
    methods:  GET

dashboard_booster_new:
    path:     /dashboard-booster-new/{id}
    defaults: { _controller: BoosterBundle:Dashboard:boosterNew }
    methods:  [GET, POST]

dashboard_booster_edit:
    path:     /dashboard-booster-edit/{slug}
    defaults: { _controller: BoosterBundle:Dashboard:boosterEdit }
    methods:  [GET, POST]

booster_how_it_works:
    path:     /comment-ca-marche
    defaults: { _controller: BoosterBundle:Front:howItWorks }

new_project:
    path:     /deposer-un-projet
    defaults: { _controller: BoosterBundle:Project:new }

show_projects:
    path:     /{id}/projet
    defaults: { _controller: "BoosterBundle:Project:show" }
    methods:  GET

list_society:
    path: /liste-de-societes/{page}
    defaults: { _controller: "BoosterBundle:Front:listSociety", page: 1}
    requirements:
        page: \d+

orders:
    resource: "@BoosterBundle/Resources/config/routing/order.yml"
    prefix:   /orders

public_dashboard:
    path:     /public-dashboard/{id}/
    defaults: { _controller: BoosterBundle:Dashboard:publicDashboard }
    methods: GET

project_subscription:
    path:     /je-donne-du-temps/{boosterId}/{societyId}/{projectId}
    defaults: { _controller: BoosterBundle:ProjectSubscription:subscription }
    methods: [GET, POST]

dashboard_contact_booster:
    path:     /dashboard-contact-booster/{societyId}/{projectId}/{subscriptionId}
    defaults: { _controller: BoosterBundle:Dashboard:contactBooster }
    methods: [GET, POST]

subscription_cancel:
    path:     /anulation_de_la_collaboration/{projectId}/{subscriptionId}/{dashboardId}/{role}
    defaults: { _controller: BoosterBundle:ProjectSubscription:subscriptionCancel }
    methods: [GET, POST]

project_done:
    path:     /projet_finit/{projectId}/{subscriptionId}/{dashboardSlug}/{role}
    defaults: { _controller: BoosterBundle:Project:projectDone }
    methods: [GET, POST]




