booster_homepage:
    path:     /
    defaults: { _controller: BoosterBundle:Front:index }

booster_cgv:
    path:     /cgv
    defaults: { _controller: BoosterBundle:Front:cgv }

booster_faq:
    path:     /faq
    defaults: { _controller: BoosterBundle:Front:faq }

booster_charte:
    path:     /charte
    defaults: { _controller: BoosterBundle:Front:charte }

booster_mentions_legales:
    path:     /mentions_legales
    defaults: { _controller: BoosterBundle:Front:mentionsLegales }

booster_equipe:
    path:     /equipe
    defaults: { _controller: BoosterBundle:Front:equipe }

booster_contact:
    path:     /contact
    defaults: { _controller: BoosterBundle:Front:contact }

booster_comment_ca_marche:
    path:     /comment_ca_marche
    defaults: { _controller: BoosterBundle:Front:commentCaMarche }

booster_dashboard_society:
    path:     /dashboard-booste
    defaults: { _controller: BoosterBundle:Dashboard:society }

booster_dashboard_booster:
    path:     /dashboard-booster
    defaults: { _controller: BoosterBundle:Dashboard:booster }