{% extends "base.html.twig" %}

{% block h1 %}<h1 class="h1_toppage">Votre vote a été envoyé</h1>{% endblock %}

{% block body %}

        <!--Booste-->
    {% if user.roles == ['ROLE_BOOSTE', 'ROLE_USER'] %}
        <div class="new-profil">
            <p class="text-center">Merci {{ user.firstName }}, vos vote et commentaire ont bien été pris en compte.</p>
        </div>
        <div class="text-center new-profil">
            <a href="{{ path('booster_homepage') }}" class="home_carousel_btn_lien"><strong>Retour à la page d'accueil</strong></a>
        </div>

        <!--Booster-->
    {% else %}
        <div class="new-profil">
            <p class="text-center">Merci {{ user.firstName }}, vos vote et commentaire ont bien été pris en compte.</p>
        </div>
        <div class="text-center new-profil">
            <a href="{{ path('booster_homepage') }}" class="home_carousel_btn_lien"><strong>Retour à la page d'accueil</strong></a>
        </div>
    {% endif %}

{% endblock body %}
