booster:
    resource: "@BoosterBundle/Resources/config/routing.yml"
    prefix:   /

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_registration_register:
    path:   /register/booste
    defaults: { _controller: FOSUserBundle:Registration:register}

register:
    path: /register
    defaults: { _controller: FOS:Registration:register}

booster_user:
    resource: "@BoosterBundle/Controller/"
    type: annotation
    prefix: /

easy_admin_bundle:
    resource: "@EasyAdminBundle/Controller"
    type:     annotation
    prefix:   /admin


