booster:
    resource: "@BoosterBundle/Resources/config/routing.yml"
    prefix:   /

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /enregistrement

fos_user_registration_register:
    path:   /enregistrement/booste
    defaults: { _controller: FOSUserBundle:Registration:register}

fos_user_registration_check_email:
    path: /verification
    defaults: { _controller: FOSUserBundle:Registration:checkEmail}

fos_user_registration_confirm:
    path: /confirmation/{token}
    defaults: { _controller: FOSUserBundle:Registration:confirm}

fos_user_registration_confirmed:
    path: /actif
    defaults: { _controller: FOSUserBundle:Registration:confirmed}

# I'm not sure we can safely delete this
#register:
#    path: /register
#    defaults: { _controller: FOS:Registration:register}

booster_user:
    resource: "@BoosterBundle/Controller/"
    type: annotation
    prefix: /

easy_admin_bundle:
    resource: "@EasyAdminBundle/Controller"
    type:     annotation
    prefix:   /admin