# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
     App.user_generator:
        class: BoosterBundle\Services\UserGenerator
        arguments: ['@service_container', 50]

     booster.form.type.tel:
        class: BoosterBundle\Form\Type\TelType
        tags:
            - { name: form.type, alias: tel }

