{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block h1 %}
    <div class="text-center">
    <h1 class="h1_top_page">Adresse E-mail Confirmée</h1>
        <hr class="hr_">
    </div>
{% endblock %}
{% block fos_user_content %}
<div class="new-profil text-center-fos">
    <p>Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.</p>
    <p>Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 24 heures.</p>
    <p>Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.</p>
</div>
{% endblock %}
