{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Changer son mot de passe | The Booster{% endblock %}
{% block h1 %}
    <div class="text-center">
        <h1 class="h1_top_page">Changement de mot de passe</h1>
        <hr class="hr_">
    </div>
{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
