BoosterBundle\Entity\Booster:
    type: entity
    table: booster
    repositoryClass: BoosterBundle\Repository\BoosterRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        photo:
            type: string
            nullable: true
            length: 255
        city:
            type: string
            nullable: true
            length: 255
        zipCode:
            type: integer
            nullable: true
            column: zip_code
        birthDate:
            type: date
            nullable: true
            column: birth_date
        workStatus:
            type: string
            nullable: true
            length: 150
            column: work_status
        competence1:
            type: string
            nullable: false
            length: 100
            column: competence_1
        competence2:
            type: string
            nullable: true
            length: 100
            column: competence_2
        competence3:
            type: string
            nullable: true
            length: 100
            column: competence_3
        competence4:
            type: string
            nullable: true
            length: 100
            column: competence_4
        competence5:
            type: string
            nullable: true
            length: 100
            column: competence_5
        competence6:
            type: string
            nullable: true
            length: 100
            column: competence_6
        presentation:
            type: text
            nullable: true
            length: 65535
            options:
                fixed: false
        hoursGiven:
            type: integer
            nullable: true
            column: hours_given
        projectDoneNumber:
            type: integer
            nullable: true
            column: project_done_number
        averageNotation:
            type: integer
            nullable: true
            column: average_notation

    oneToOne:
        user:
            targetEntity: User
            inversedBy: booster
            joinColumn:
                name: user_id
                referencedColumnName: id

    lifecycleCallbacks: {  }
