BoosterBundle\Entity\Project:
    type: entity
    table: project
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        projectName:
            type: string
            nullable: false
            length: 255
        category:
            type: string
            nullable: false
            length: 100
        description:
            type: string
            nullable: false
            length: 200
        creationStatus:
            type: string
            nullable: false
            length: 15
            column: creation_status
        status:
            type: string
            nullable: false
            length: 255
        givenTime:
            type: integer
            nullable: false
            column: given_time
        createTime:
            type: datetime
            nullable: false
            options:
                default: CURRENT_TIMESTAMP
            column: create_time
        endTime:
            type: datetime
            nullable: true
            column: end_time
        boosterCommentaries:
            type: string
            nullable: true
            length: 255
            column: booster_commentaries
        societyCommentaries:
            type: string
            nullable: true
            length: 255
            column: society_commentaries
        boosterNote:
            type: integer
            nullable: true
            column: booster_note
        societyNote:
            type: integer
            nullable: true
            column: society_note
    manyToOne:
        society:
            targetEntity: Society
            inversedBy: societyName

    oneToMany:
        project_subscriptions:
            targetEntity: BoosterBundle\Entity\ProjectSubscription
            mappedBy: booster

    lifecycleCallbacks: {  }
