BoosterBundle\Entity\Project:
    type: entity
    table: project
    repositoryClass: BoosterBundle\Repository\ProjectRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        projectName:
            type: string
            nullable: false
            length: 255
        category:
            type: string
            nullable: false
            length: 100
        description:
            type: string
            nullable: false
            length: 200
        creationStatus:
            type: boolean
            nullable: false
            column: creation_status
        status:
            type: string
            nullable: false
            length: 255
        givenTime:
            type: integer
            nullable: false
            column: given_time
        createTime:
            type: datetime
            nullable: false
            options:
                default: CURRENT_TIMESTAMP
            column: create_time
        endTime:
            type: datetime
            nullable: true
            column: end_time

    manyToOne:
        society:
            targetEntity: Society
            inversedBy: societyName
            joinColumn:
                name: society_id
                referencedColumnName: id

    oneToMany:
        project_subscriptions:
            targetEntity: BoosterBundle\Entity\ProjectSubscription
            mappedBy: project

    lifecycleCallbacks: {  }
