BoosterBundle\Entity\Society:
    type: entity
    table: society
    repositoryClass: BoosterBundle\Repository\SocietyRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        photo:
            type: string
            nullable: true
            length: 255
        societyName:
            type: string
            nullable: false
            length: 255
            column: society_name
        punchLine:
            type: string
            nullable: false
            length: 140
            column: punch_line
        presentation:
            type: text
            nullable: false
        linkedin:
            type: string
            nullable: true
            length: 255
        facebook:
            type: string
            nullable: true
            length: 255
        twitter:
            type: string
            nullable: true
            length: 255
        youtube:
            type: string
            nullable: true
            length: 255
        websiteLink:
            type: string
            nullable: true
            length: 255
            column: website_link
        hoursTaken:
            type: integer
            nullable: true
            column: hours_taken
        averageNotation:
            type: integer
            nullable: true
            column: average_notation
        projectDoneNumber:
            type: integer
            nullable: true
            column: project_done_number
        deniedBoosters:
            type: integer
            nullable: true
            column: denied_boosters
        slug:
            type: string
            nullable: true
            length: 50
            unique: true


    oneToMany:
        project_names:
            targetEntity: BoosterBundle\Entity\Project
            mappedBy: society

    oneToOne:
        user:
            targetEntity: User
            inversedBy: society
            joinColumn:
                name: user_id
                referenceColumnName: id

        transaction:
            targetEntity: BoosterBundle\Entity\Transaction
            mappedBy: society

    lifecycleCallbacks: {  }
