BoosterBundle\Entity\Transaction:
    type: entity
    table: transaction
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        createTime:
            type: datetime
            nullable: false
            options:
                default: CURRENT_TIMESTAMP
            column: create_time
        projectLeft:
            type: integer
            nullable: false
            column: project_left
        projectMonthLeft:
            type: integer
            nullable: false
            column: project_month_left
        validityDate:
            type: datetime
            nullable: false
            column: validity_date
        status:
            type: string
            nullable: false
            length: 45
    manyToOne:
        society:
            targetEntity: BoosterBundle\Entity\Society
            mappedBy: societyName
    lifecycleCallbacks: {  }
