BoosterBundle\Entity\User:
    type:  entity
    table: fos_user
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        title:
            type: string
            length: '4'
            nullable: false
        lastName:
            type: string
            length: '50'
            nullable: false
            column: last_name
        firstName:
            type: string
            length: '50'
            nullable: false
            column: first_name
        phone:
            type: integer
            lenght: '10'
            nullable: false
            unique: true
        createTime:
            type: datetime
            nullable: true
            options:
                default: CURRENT_TIMESTAMP
            column: create_time
        typeProject:
            type: boolean
            nullable: false
            unique: false
            column: type_project
        typeSociety:
            type: boolean
            nullage: false
            unique: false
            column: type_society
        siretNumber:
            type: string
            lenght: 14
            nullable: false
            unique: false
            column: siret_number
        professionalFunction:
            type: string
            lenght: 100
            nullable: false
            unique: false
            column: professional_function
    lifecycleCallbacks: {  }