/* Page register */
.ah {
    color: #eb0310;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.h1_top_page {
    margin-top:10vh;
    font-size: 37px;
    letter-spacing: -1px;
}

.hr_ {
    border: none;
    display: inline-block;
    width: 90px;
    height: 8px;
    background: #eb0310;
    margin: auto 10px;
    margin-bottom: 30px;
}

.block_login {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.h2_login {
    font-size: 20px;
    margin-top: 10px;
}

.btn_register {
    text-align: center;
    margin-top: 20px;
}

.separation_bar {
    border: none;
    display: inline-block;
    width: 320px;
    height: 1px;
    background: lightgrey;
    margin: auto 10px;
    margin-bottom: 30px;
}

.block_subs_forms {
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
}

.btn_login_subsc {
    font-size:1.2em;
    font-weight:900;
    background-color: #eb0310;
    color:white;
    padding: 10px 25px;
}


/* Page login */

.btn_login_connect {
    font-size:1.2em;
    font-weight:900;
    background-color: #eb0310;
    color:white;
    padding: 10px 25px;
    margin-top: 30px;
}
.form_log {
    margin-top: 30px;
}
.login_checkbox label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.login_checkbox input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
#required{
    color: #7e0000;
    margin-top: -10px;
    margin-bottom: 20px;
}
.validation-height{
    min-height: 300px;
}
.new-profil{
    margin-top: 50px;
}