{% extends "BoosterBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block h1 %}<h1 class="h1_toppage">Merci de vous être enregistré</h1>{% endblock %}

{% block validation_content %}
    <p class="text-center">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock validation_content %}

