{% extends "BoosterBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block h1 %}<h1 class="h1_toppage">Votre compte est maintenant activé</h1>{% endblock %}

{% block validation_content %}
        <!--Booste-->
    {% if user.roles == ['ROLE_BOOSTE', 'ROLE_USER'] %}
        <div class="new-profil">
            <p class="text-center">Merci {{ user.firstName }}, vous pouvez à présent créer votre profil.</p>
        </div>
        <div class="text-center new-profil">
            <a href="{{ path('dashboard_society_new', {'id': app.user.id}) }}" class="home_carousel_btn_lien"><strong>Je crée mon profil</strong></a>
        </div>
        <!--Booster-->
    {% else %}
        <div class="new-profil">
            <p class="text-center">Merci {{ user.firstName }}, vous pouvez à présent créer votre profil.</p>
        </div>
        <div class="text-center new-profil">
            <a href="{{ path('dashboard_booster_new',{'id':app.user.id}) }}" class="home_carousel_btn_lien">
                <i class="fa fa-user" aria-hidden="true"></i><strong>Je crée mon profil</strong></a>
        </div>
    {% endif %}
{% endblock validation_content %}
