{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
	    <head>
	    </head>
	    <body>
		    <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
		    <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;" >Bienvenue {{ user.username }}</h1>
		    <hr style="border:none;width:90px;height:8px;background: #E60F33;margin-bottom: 15px;">


		    <br>
		    <br>
		    <p>Cordialement,</p>
	    </body>
</html>
{% endblock %}
