{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}The Booster | Inscription {% endblock %}
{% block h1 %}
    <div class="text-center h1_top_page">
        <h1>Je crée mon compte</h1>
        <hr class="hr_" id="hr_connect"/>
    </div>
{% endblock %}

{% block fos_user_content %}
    {% if booster %}
        {% include "FOSUserBundle:Registration:register_booster_content.html.twig" %}
    {% else %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% endif  %}
{% endblock fos_user_content %}

{% block login %}
    <div class="block_login">
        <hr class="separation_bar">
        <h2 class="h2_login">Je possède déjà un compte</h2>
        <a href="{{ path('fos_user_security_login') }}" class="ah">Je me connecte</a>
    </div>
{% endblock %}


