{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid global-presentation">
        <div class="container">
            <div class="col-xs-6 col-md-4 col-md-offset-4 form-transaction">
                <div class="row">
                    <div class="transaction-divs title-transaction">MISE EN AVANT SUR LA PAGE D'ACCUEIL</div>
                </div>
                <div class='row'>
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>Durée</strong> :&nbsp; 24h</div>
                </div>
                <div class="row">
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>Prix</strong> :&nbsp; {{ order.amount }} € HT</div>
                </div>
                <div class="row">
                    {{ form_start(form) }}
                        {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
                    <input class="transaction-divs transaction-submit" type="submit" value="Payer avec Paypal" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}