{% extends 'base.html.twig' %}

{% block body %}
    <div class="block_edit">
        <h1 class="h1_toppage">Mettre à jour les informations de votre compte Boosté</h1>
        <hr>
    </div>
    <section class="container-fluid global-presentation">
        <div class="container">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Enregistrer" class="btn btn-danger btn_edit_booste"/>
            {{ form_end(edit_form) }}

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/countdown.js')}}"></script>
    <script>
        tinymce.init({
            elementpath: false,
            selector:'.WYSIWYG1',
            forced_root_block: false,
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
            plugins: "charactercount",
            maxCount: 140,
            minCount: 1
        });
    </script>
    <script>
        tinymce.init({
            paste_data_images: false,
            elementpath: false,
            selector:'.WYSIWYG2',
            forced_root_block: false,
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
            plugins: "charactercount paste",
            maxCount: 10000,
            minCount: 500
        });
    </script>
{% endblock %}