{% extends 'base.html.twig' %}
{% block title %}Mise à jour du profil Boosté | The Booster{% endblock %}

{% block body %}

    <section class="container-fluid global-presentation">
        <div class="container col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
            <div class="block_hedit text-center">
                <h1>Mettre à jour les informations de votre compte Boosté</h1>
                <hr>
            </div>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="text-center btn_ed_booste">
                <input type="submit" value="Enregistrer les modifications" class="btn btn-danger dashb_btn"/>
            {{ form_end(edit_form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/countdown.js')}}"></script>
    <script>
        tinymce.init({
            elementpath: false,
            selector:'.WYSIWYG1',
            forced_root_block: false,
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
            plugins: "charactercount",
            maxCount: 140,
            minCount: 1
        });
    </script>
    <script>
        tinymce.init({
            paste_data_images: false,
            elementpath: false,
            selector:'.WYSIWYG2',
            forced_root_block: false,
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
            plugins: "charactercount paste",
            maxCount: 10000,
            minCount: 500
        });
    </script>
{% endblock %}