{% extends 'base.html.twig' %}
{% block title %}Conditions Générales de Vente | The Booster{% endblock %}
{% block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">CONDITIONS GÉNÉRALES DE VENTE – INTERNET</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">

                <em>En vigueur au 15/01/2017</em><br/><br/>
                <p class="cgv-article">
                    ARTICLE 1 - Champ d'application
                </p>
                <p>
                    Les présentes Conditions Générales de Vente (dites « CGV ») s'appliquent, sans restriction ni réserve à tout achat des services de suivants :
                    <br/>Services de mise en avant. Visibilité sur le site. 2 formules :"à la une" - présence sur la Home Page du site ou "en tête de liste" faire remonter sa présentation en haut de la liste.
                    tels que proposés par le Prestataire aux clients non professionnels (« Les Clients ou le Client ») sur le site www.the-booster.com.
                    <br/>Les caractéristiques principales des Services sont présentées sur le site internet www.the-booster.com.
                    <br/>Le Client est tenu d'en prendre connaissance avant toute passation de commande. Le choix et l'achat d'un Service est de la seule responsabilité du Client.
                    <br/>Ces CGV sont accessibles à tout moment sur le site www.the-booster.com et prévaudront sur toute autre document.
                    <br/>Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande en ligne du site www.the-booster.com.
                    <br/>Sauf preuve contraire, les données enregistrées dans le système informatique du Prestataire constituent la preuve de l'ensemble des transactions conclues avec le Client.
                    <br/>Les coordonnées du Prestataire sont les suivantes :
                    <br/><strong>EIRL ANTONINI, EIRL</strong>
                    <br/>Immatriculé au RCS de LYON, sous le numéro 753253327
                    <br/>4 Quai Jules Courmont
                    <br/>mail : contact@enmodeup.com
                    <br/>téléphone : 0626401293
                    <br/>Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ils seront à la charge et relèvent de la seule responsabilité du Client.
                </p>
                <p class="cgv-article">
                    ARTICLE 2 - Prix
                </p>
                <p>
                    Les Services sont fournis aux tarifs en vigueur figurant sur le site www.the-booster.com, lors de l'enregistrement de la commande par le Prestataire.
                    <br/>Les prix sont exprimés en Euros, HT et TTC.
                    <br/>Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Prestataire sur le site www.the-booster.com.
                    <br/>Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Prestataire se réservent le droit, hors période de validité, d’en modifier les prix à tout moment.
                    <br/>Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de la commande.
                    <br/>Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.
                    <br/>Une facture est établie par le Prestataire et remise au Client lors de la fourniture des Services commandés.
                </p>
                <p class="cgv-article">
                    ARTICLE 3 – Commandes
                </p>
                <p>
                    Il appartient au Client de sélectionner sur le site www.the-booster.com les Services qu'il désire commander, selon les modalités suivantes :
                    <br/>Le client souscrit aux options de visibilité soit au moment du dépôt de son besoin "Coup de Boost" soit en cliquant sur le lien "mettre en avant" présent sur son espace personnel. Le client sélectionne alors le choix de l'option "à la une" ou "en tête de liste" puis procède à un paiement en ligne via notre partenaire PAYPAL..
                    <br/>La vente ne sera considérée comme valide qu’après paiement intégral du prix. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.
                    <br/>Toute commande passée sur le site www.the-booster.com constitue la formation d'un contrat conclu à distance entre le Client et le Prestataire.
                    <br/>Le Prestataire se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.
                    <br/>Le Client pourra suivre l'évolution de sa commande sur le site.
                    <br/>Toute annulation de la commande par le Client ne sera possible qu'avant la fourniture des Services (indépendamment des dispositions relative à l'application ou non du droit de rétractation légal).
                <p class="cgv-article">
                    ARTICLE 3 Bis - Espace client - Compte
                </p>
                <p>
                    Afin de passer commande, le Client est invité à créer un compte (espace personnel).
                    <br/>Pour ce faire, il doit s’inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
                    <br/>Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu’il peut les modifier en se connectant à son compte.
                    <br/>Pour accéder à son espace personnel et aux historiques de commande, le Client devra s'identifier à l'aide de son nom d’utilisateur et de son mot de passe qui lui seront communiqués après son inscription et qui sont strictement personnels. A ce titre, le Client s’en interdit toute divulgation. Dans le cas contraire, il restera seul responsable de l’usage qui en sera fait.
                    <br/>Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel ou envoyant un email à : contact@the-booster.com. Celle-ci sera effective dans un délai raisonnable.
                    <br/>En cas de non respect des conditions générales de vente et/ou d’utilisation, le site www.the-booster.com aura la possibilité de suspendre voire de fermer le compte d’un client après mise en demeure adressée par voie électronique et restée sans effet.
                    <br/>Toute suppression de compte, quel qu’en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.
                    <br/>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité du Prestataire.
                    <br/>La création du compte entraine l’acceptation des présentes conditions générales de vente.
                </p>
                <p class="cgv-article">
                    ARTICLE 4 - Conditions de paiement
                </p>
                <p>
                    Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :
                    <br/><strong>paiement par carte bancaire:</strong>
                    <br/>Le prix est payable comptant par le Client, en totalité au jour de la passation de la commande.
                    <br/>Les données de paiement sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé intervenant pour les transactions bancaires réalisées sur le site www.the-booster.com.
                    <br/>Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues, par le Prestataire.
                    <br/>Le Prestataire ne sera pas tenu de procéder à la fourniture des Services commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions ci-dessus indiquées.
                </p>
                <p class="cgv-article">
                    ARTICLE 5 - Fourniture des Prestations
                </p>
                <p>
                    Les Services commandés par le Client seront fournis selon les modalités suivantes :
                    <br/>Lesdits Services seront fournis dans un délai maximum de 24 heures à compter de la validation définitive de la commande du Client, dans les conditions prévues aux présentes CGV à l'adresse indiquée par le Client lors de sa commande sur le site www.the-booster.com .
                    <br/>Le Prestataire s'engage à faire ses meilleurs efforts pour fournir les Services commandés par le Client, dans le cadre d'une obligation de moyen et dans les délais ci-dessus précisés. Toutefois, ces délais sont communiqués à titre indicatif.
                    <br/>Si les Services commandés n'ont pas été fournis dans un délai de 24 heures après la date indicative de fourniture, pour toute autre cause que la force majeure ou le fait du Client, la vente des Services pourra être résolue à la demande écrite du Client dans les conditions prévues aux articles L 216-2, L 216-3 et L241-4 du Code de la consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat, à l'exclusion de toute indemnisation ou retenue.
                    <br/>En cas de demande particulière du Client concernant les conditions de fourniture des Services, dûment acceptées par écrit par le Prestataire, les coûts y liés feront l'objet d'une facturation spécifique complémentaire ultérieure.
                    <br/>A défaut de réserves ou réclamations expressément émises par le Client lors de la réception des Services, ceux-ci seront réputés conformes à la commande, en quantité et qualité.
                    <br/>Le Client disposera d'un délai de 24 heures à compter de la fourniture des Services pour émettre des réclamations par mail à l'adresse : contact@the-booster.com, avec tous les justificatifs y afférents, auprès du Prestataire.
                    <br/>Aucune réclamation ne pourra être valablement acceptée en cas de non respect de ces formalités et délais par le Client.
                    <br/>Le Prestataire remboursera ou rectifiera dans les plus brefs délais et à ses frais les Services dont le défaut de conformité aura été dûment prouvé par le Client.
                </p>
                <p class="cgv-article">
                    ARTICLE 6 - Droit de rétractation
                </p>
                <p>
                    Compte tenu de la nature des Services fournis, les commandes passées par le Client ne bénéficient pas du droit de rétractation.
                    <br/>Le contrat est donc conclu de façon définitive dès la passation de la commande par le Client selon les modalités précisées aux présentes CGV.
                </p>
                <p class="cgv-article">
                    ARTICLE 7 - Responsabilité du Prestataire - Garanties
                </p>
                <p>
                    Le Prestataire garantit, conformément aux dispositions légales et sans paiement complémentaire, le Client, contre tout défaut de conformité ou vice caché, provenant d'un défaut de conception ou de réalisation des Services commandés dans les conditions et selon les modalités suivantes :
                    <br/><strong>Dispositions relatives aux garanties légales</strong>
                    <br/><strong>Article L217-4 du Code de la consommation</strong>
                    « Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »
                    <br/><strong>Article L217-5 du Code de la consommation</strong>
                    <br/>« Le bien est conforme au contrat :
                    <br/>1. S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
                    <br/>- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;
                    <br/>- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
                    <br/>2. Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »
                    <br/><strong>Article L217-12 du Code de la consommation</strong>
                    <br/>« L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien. »
                    <br/><strong>Article L217-16 du Code de la consommation</strong>
                    <br/>« Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention. »
                    <br/>Afin de faire valoir ses droits, le Client devra informer le Prestataire, par écrit (mail ou courrier), de l'existence des vices ou défauts de conformité.
                    <br/>Le Prestataire remboursera ou rectifiera ou fera rectifier (dans la mesure du possible) les services jugés défectueux dans les meilleurs délais et au plus tard dans les (indiquer le délai) jours suivants la constatation par le Prestataire du défaut ou du vice. Ce remboursement pourra être fait par virement ou chèque bancaire.
                    <br/>La garantie du Prestataire est limitée au remboursement des Services effectivement payés par le Client.
                    <br/>Le Prestataire ne pourra être considéré comme responsable ni défaillant pour tout retard ou inexécution consécutif à la survenance d'un cas de force majeure habituellement reconnu par la jurisprudence française.
                    <br/>Les Services fournis par l'intermédiaire du site (Indiquer le site internet) du Prestataire sont conformes à la réglementation en vigueur en France. La responsabilité du Prestataire ne saurait être engagée en cas de non respect de la législation du pays dans lequel les Services sont fournis, qu'il appartient au Client, qui est seul responsable du choix des Services demandés, de vérifier.
                <p>
                </p>
                <p class="cgv-article">
                    ARTICLE 8 - Informatiques et Libertés
                </p>
                <p>
                    En application de la loi 78-17 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandés au Client sont nécessaires au traitement de sa commande et à l'établissement des factures, notamment.
                    <br/>Ces données peuvent être communiquées aux éventuels partenaires du Prestataire chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.
                    <br/>Le traitement des informations communiquées par l'intermédiaire du site www.the-booster.com a fait l'objet a fait l'objet d'une déclaration auprès de la CNIL, numéro 2001488.
                    <br/>Le Client dispose, conformément aux réglementations nationales et européennes en vigueur d'un droit d'accès permanent, de modification, de rectification et d'opposition s'agissant des informations le concernant.
                    <br/>Ce droit peut être exercé selon les modalités décrites à la rubrique « mentions légales » du site www.the-booster.com.
                </p>
                <p class="cgv-article">
                    ARTICLE 9 - Propriété intellectuelle
                </p>
                <p>
                    Le contenu du site www.the-booster.com est la propriété du Vendeur et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.
                    <br/>Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
                </p>
                <p class="cgv-article">
                    ARTICLE 10 - Droit applicable - Langue
                </p>
                <p>
                    Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.
                    <br/>Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
                </p>
                <p class="cgv-article">
                    ARTICLE 11 - Litiges
                </p>
                <p>
                    Pour toute réclamation merci de contacter le service clientèle à l’adresse postale ou mail du Prestataire indiquée à l’ARTICLE 1 des présentes CGV.
                    <br/>Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
                    <br/>En l’espèce, le médiateur désigné est
                    <br/>Le Médiateur des communication électroniques qui peut-être contacté via ce service : http://www.mediateur-telecom.fr/index.php/information/contacts_pratiques/
                    <br/>Le Client est également informé qu’il peut, également recourir à la plateforme de Règlement en Ligne des Litige (RLL) :https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show
                    <br/>Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes CGV et qui n’auraient pas fait l’objet d’un règlement amiable entre le vendeur ou par médiation, seront soumis aux tribunaux compétents dans les conditions de droit commun.
                </p>
            </div>
        </div>
    </div>

    <div class="ml_title">
        <h1 class="h1_toppage">CONDITIONS GENERALES D'UTILISATION DU SITE www.the-booster.com</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">

                <p class="cgv-article">
                    ARTICLE 1 : Objet
                </p>
                <p>
                    Les présentes « conditions générales d&#39;utilisation » ont pour objet l&#39;encadrement juridique des modalités de mise à disposition des services du site www.the-booster.com ci-après dénommé «the-booster.com » et leur utilisation par « l&#39;Utilisateur ».
                    <br/>Les conditions générales d&#39;utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l&#39;Utilisateur. L’accès au site par l’Utilisateur signifieson acceptation des présentes conditions générales d’utilisation.
                    <br/>En cas de non-acceptation des conditions générales d&#39;utilisation stipulées dans le présent contrat, l&#39;Utilisateur se doit de renoncer à l&#39;accès des services proposés par le site.
                    <br/>www.the-booster.com se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d&#39;utilisation.
                </p>
                <p class="cgv-article">
                    ARTICLE 2 : Mentions légales
                </p>
                <p>
                    L&#39;édition du site www.the-booster.com est assurée par l&#39;EIRL ANTONINI dont le siège social est situé 4 Quai Jules Courmont, 69002 Lyon.
                    <br/>Le Directeur de la publication est Monsieur Nicolas ANTONINI.
                    <br/>Le site www.the-booster.com est hébergé par OVH –  2 rue Kellermann – 59100 ROUBAIX – France
                    <br/>Pour contacter cet hébergeur, rendez-vous à l’adresse http://www.ovh.com/fr/support/
                </p>
                <p class="cgv-article">
                    ARTICLE 3 : Définitions
                </p>
                <p>
                    La présente clause a pour objet de définir les différents termes essentiels du contrat :
                    <br/>Utilisateur : ce terme désigne toute personne qui utilise le site ou l&#39;un des services proposés par le site.
                    <br/>Contenu utilisateur : ce sont les données transmises par l&#39;Utilisateur au sein du site.
                    <br/>Membre : l&#39;Utilisateur devient membre lorsqu&#39;il est identifié sur le site.
                    <br/>Identifiant et mot de passe : c&#39;est l&#39;ensemble des informations nécessaires à l&#39;identification d&#39;un Utilisateur sur le site. L&#39;identifiant et le mot de passe permettent à l&#39;Utilisateur d&#39;accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.
                </p>
                <p class="cgv-article">
                    ARTICLE 4 : accès aux services
                </p>
                <p>
                    Le site permet à l&#39;Utilisateur un accès gratuit aux services suivants :
                    <br/>mise en relation de personnes
                    <br/>publication de projets Entrepreneuriaux
                    <br/>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l&#39;Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
                    <br/>L’Utilisateur non membre n&#39;a pas accès aux services réservés aux membres. Pour cela, il doit s&#39;identifier à l&#39;aide de son identifiant et de son mot de passe.
                    <br/>Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L&#39;obligation étant de moyens, le site ne s&#39;engage pas à atteindre ce résultat.
                    <br/>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n&#39;engage pas la responsabilité de www.the-booster.com .
                    <br/>L&#39;accès aux services du site peut à tout moment faire l&#39;objet d&#39;une interruption, d&#39;une suspension, d&#39;une modification sans préavis pour une maintenance ou pour tout autre cas. L&#39;Utilisateur s&#39;oblige à ne réclamer aucune indemnisation suite à l&#39;interruption, à la suspension ou à la modification du présent contrat.
                    <br/>L&#39;Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse contact@the-booster.com .
                </p>
                <p class="cgv-article">
                    ARTICLE 5 : Propriété intellectuelle
                </p>
                <p>
                    Les marques, logos, signes et tout autre contenu du site font l&#39;objet d&#39;une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d&#39;auteur.
                    <br/>L&#39;Utilisateur sollicite l&#39;autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.
                    <br/>L&#39;Utilisateur s&#39;engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.
                    <br/>Tout contenu mis en ligne par l&#39;Utilisateur est de sa seule responsabilité. L&#39;Utilisateur s&#39;engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l&#39;Utilisateur.
                    <br/>Le contenu de l&#39;Utilisateur peut être à tout moment et pour n&#39;importe quelle raison supprimé ou modifié par le site. L&#39;Utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la modification du contenu Utilisateur.
                </p>
                <p class="cgv-article">
                    ARTICLE 6 : Données personnelles
                </p>
                <p>
                    Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de l&#39;Utilisateur. En particulier, l&#39;adresse électronique pourra être utilisée par le site pour l&#39;administration, la gestion et l&#39;animation du service.
                    <br/>Le site assure à l&#39;Utilisateur une collecte et un traitement d&#39;informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l&#39;informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro 2001488v0.
                    <br/>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l&#39;Utilisateur dispose d&#39;un droit d&#39;accès, de rectification, de suppression et d&#39;opposition de ses données personnelles. L&#39;Utilisateur exerce ce droit via :
                    <br/>son espace personnel ;
                    <br/>un formulaire de contact ;
                    <br/>par mail à contact@the-booster.com ;
                    <br/>par voie postale au 4, Quai Jules Courmont, 69002 Lyon.
                </p>
                <p class="cgv-article">
                    ARTICLE 7 : Responsabilité et force majeure
                </p>
                <p>
                    Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d&#39;une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l&#39;Utilisateur assume seul l&#39;entière responsabilité de l&#39;utilisation des informations et contenus du présent site.
                    <br/>L&#39;Utilisateur s&#39;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.
                    <br/>L&#39;Utilisateur assume les risques liés à l&#39;utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
                    <br/>Tout usage du service par l&#39;Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l&#39;objet d&#39;une indemnisation au profit du site.
                    <br/>Une garantie optimale de la sécurité et de la confidentialité des données transmises n&#39;est pas assurée par le site. Toutefois, le site s&#39;engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
                    <br/>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d&#39;un tiers.
                </p>
                <p class="cgv-article">
                    ARTICLE 8 : Liens hypertextes
                </p>
                <p>
                    De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n&#39;engagent en rien la responsabilité de www.the-booster.com qui n&#39;a pas le contrôle de ces liens.
                    <br/>L&#39;Utilisateur s&#39;interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
                </p>
                <p class="cgv-article">
                    ARTICLE 9 : Évolution du contrat
                </p>
                <p>
                    Le site se  réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
                </p>
                <p class="cgv-article">
                    ARTICLE 10 : Durée
                </p>
                <p>
                    La durée du présent contrat est indéterminée. Le contrat produit ses effets à l&#39;égard de l&#39;Utilisateur à compter de l&#39;utilisation du service.
                </p>
                <p class="cgv-article">
                    ARTICLE 11 : Droit applicable et juridiction compétente
                </p>
                <p>
                    La législation française s&#39;applique au présent contrat. En cas d&#39;absence de résolution amiable d&#39;un litige né entre les parties, seuls les tribunaux de la ville de Lyon sont compétents.
                </p>
                <p class="cgv-article">
                    ARTICLE 12 : Publication par l’Utilisateur
                </p>
                <p>
                    Le site permet aux membres de publier des commentaires, des projets professionnels et/ou personnels.
                    <br/>Dans ses publications, le membre s’engage à respecter les règles de la Netiquette, les règles de droit en vigueur et la Charte éthique de www.the-booster.com .
                    <br/>Le site exerce une modération a priori et a posteriori sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
                    <br/>Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d&#39;utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
                    <br/>La société éditrice s&#39;engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.
                </p>

            </div>
        </div>
    </div>

{% endblock %}