{% extends 'base.html.twig' %}
{%  block title %}Comment ça marche? | The Booster{% endblock %}
{% block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">Comment ça marche?</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at purus nibh.
                    Cras metus nulla, vestibulum in auctor ac, fermentum vitae tellus. Donec sed aliquam nisl.
                    Sed eu leo id est pretium euismod. Nulla id justo at mi venenatis volutpat. Fusce nisi leo, plac
                    es in sem. Maecenas tincidunt semper molestie. Nulla nec neque sit amet libero molestie feugiat.
                    Cras id metus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis arcu n
                    on leo porta ut euismod ante luctus. Praesent elementum sodales dolor id scelerisque.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at purus nibh.
                    Cras metus nulla, vestibulum in auctor ac, fermentum vitae tellus. Donec sed aliquam nisl.
                    Sed eu leo id est pretium euismod. Nulla id justo at mi venenatis volutpat. Fusce nisi leo, plac
                    es in sem. Maecenas tincidunt semper molestie. Nulla nec neque sit amet libero molestie feugiat.
                    Cras id metus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis arcu n
                    on leo porta ut euismod ante luctus. Praesent elementum sodales dolor id scelerisque.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at purus nibh.
                    Cras metus nulla, vestibulum in auctor ac, fermentum vitae tellus. Donec sed aliquam nisl.
                    Sed eu leo id est pretium euismod. Nulla id justo at mi venenatis volutpat. Fusce nisi leo, plac
                    es in sem. Maecenas tincidunt semper molestie. Nulla nec neque sit amet libero molestie feugiat.
                    Cras id metus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis arcu n
                    on leo porta ut euismod ante luctus. Praesent elementum sodales dolor id scelerisque.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at purus nibh.
                    Cras metus nulla, vestibulum in auctor ac, fermentum vitae tellus. Donec sed aliquam nisl.
                    Sed eu leo id est pretium euismod. Nulla id justo at mi venenatis volutpat. Fusce nisi leo, plac
                    es in sem. Maecenas tincidunt semper molestie. Nulla nec neque sit amet libero molestie feugiat.
                    Cras id metus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis arcu n
                    on leo porta ut euismod ante luctus. Praesent elementum sodales dolor id scelerisque.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
