{% extends 'base.html.twig' %}
{%  block title %}Comment ça marche? | The Booster{% endblock %}
{% block body %}

    <section>
        <div class="ml_title">
            <h1 class="h1_toppage">Comment ça marche?</h1>
            <hr>
        </div>

        <div class="container body_ml">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at purus nibh.
                        Cras metus nulla, vestibulum in auctor ac, fermentum vitae tellus. Donec sed aliquam nisl.
                        Sed eu leo id est pretium euismod. Nulla id justo at mi venenatis volutpat. Fusce nisi leo,
                        placerat id condimentum a, accumsan vitae tortor. Nunc magna nunc, venenatis nec elementum eu,
                        ultrices in sem. Maecenas tincidunt semper molestie. Nulla nec neque sit amet libero molestie feugiat.
                        Cras id metus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis arcu non
                        leo porta ut euismod ante luctus. Praesent elementum sodales dolor id scelerisque.
                    </p>
                    <p>Nam vitae cursus massa. Nunc ut arcu a mi convallis feugiat. Sed ante sem, sollicitudin sed porta et,
                        molestie in turpis. Nulla lacinia lacus nec ligula feugiat eget sagittis metus lobortis. Aenean eget velit leo,
                        et euismod risus. Pellentesque molestie hendrerit velit at gravida. Integer nec mauris urna, vel gravida est.
                    </p>
                    <p>Etiam sed velit tellus, eget aliquam nisi. Suspendisse potenti. Duis at augue purus. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Etiam semper sapien congue lorem tristique nec bibendum velit tincidunt. Maecenas faucibus sollicitudin arcu
                        , sed tincidunt nunc fermentum ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam felis turpis, rutrum nec
                        tincidunt nec, imperdiet quis tortor. Sed sit amet arcu vel orci porttitor elementum.
                    </p>
                    <p>Vivamus eu elit augue. Donec viverra vehicula fermentum. Curabitur vitae tellus id mi sodales posuere vel cursus l
                        igula. Proin quis risus arcu. Etiam purus dui, laoreet at mattis non, pretium et orci. Ut nec rhoncus neque. Aenean i
                        d risus ac neque congue suscipit. Sed bibendum quam nec felis aliquet in tempus enim adipiscing.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="ml_title">
            <h2 class="h1_toppage">Découvrez nos offres:</h2>
            <hr>
            <h3 class="">Découvrez nos offres:</h3>

        </div>

        <div class="container" id="booster-prices">
            <div class="col-xs-12 col-md-4" id="booster-formula">
                <img href="" alt="">
                <h4>Formule au projet</h4>
                <p>piscing elit. Etiam semper sapien congue lorem tristique nec bibendum velit tincidunt.
                    Maecenas faucibus sollicitudin arcu, sed tincidunt nunc ferme</p>
                <p>J'achete <input id="number-of-projects" type="number" step="1" value="0" min="0" max="5"> projets</p>
                <button>Valider</button>
            </div>

            <div class="col-xs-12 col-md-4" id="booster-formula">
                <img href="" alt="">
                <h4>Abonnement 6 mois</h4>
                <p>piscing elit. Etiam semper sapien congue lorem tristique nec bibendum velit tincidunt.
                    Maecenas faucibus sollicitudin arcu, sed tincidunt nunc ferme</p>
                <p>Soit 30€ / mois</p>
                <button>Valider</button>
            </div>

            <div class="col-xs-12 col-md-4" id="booster-formula">
                <img href="" alt="">
                <h4>Abonnement 12 mois.</h4>
                <p>piscing elit. Etiam semper sapien congue lorem tristique nec bibendum velit tincidunt.
                    Maecenas faucibus sollicitudin arcu, sed tincidunt nunc ferme</p>
                <p>Soit 20€ / mois</p>
                <button>Valider</button>
            </div>
        </div>
    </section>

{% endblock %}
