{% extends 'base.html.twig' %}
{%  block title %}Contact | The Booster{% endblock %}
{% block pageDescription %}Vous avez des questions ? Vous souhaitez nous rencontrer ? Contactez nous : contact@the-booster.com{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row who_form_ext">
            <div class="text-center who_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6" id="who_form">
                <h2 class="who_h2" id="contactus">Contactez-nous !</h2>
                <hr class="hr_"/>
                <h3 class="who_h3">Vous avez des questions ? Vous voulez nous rencontrer, prendre un café ?</h3>
            </div>
            <div class="who_form_int col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <!--message after submit-->
                {% if app.request.get('send') %}
                    <h3 class="who_h3"><em>
                    {% if app.request.get('send') == 'invalide' %}
                        Un problème est survenu lors de l'envoi de votre email.
                    {% elseif app.request.get('send') == 'valide' %}
                        Merci de nous avoir contacté, <br/>
                        nous vous répondrons dans les plus brefs délais.
                    {% endif %}
                    </em></h3>
                {% endif %}
                <!--contact form-->
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <div class="row all_blsp form-captcha-margin"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            paste_data_images: false,
            elementpath: false,
            selector:'.WYSIWYG',
            forced_root_block: false,
            plugins: "paste",
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300
        });
    </script>
{% endblock %}
