{% extends 'base.html.twig' %}
{%  block title %}Boosté | Déposer un projet{% endblock %}
{% block body %}
    <div class="form_title">
        <h1 class="h1_toppage">Déposer un projet sur the-booster.com</h1>
    </div>
    <div class="container text-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/countdown.js')}}"></script>
    <script>
        tinymce.init({
            paste_data_images: false,
            elementpath: false,
            selector:'.WYSIWYG',
            forced_root_block: false,
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
            plugins: "charactercount paste",
            maxCount: 200,
            minCount: 1
        });
    </script>
{% endblock %}