{% extends 'base.html.twig' %}
{%  block title %}FAQ | The Booster{% endblock %}
{% block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">FAQ</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                {% for faq in faqs %}
                    <div class="row">
                        <p class="col-xs-4"><strong>{{ faq.question }}</strong>: </p>
                        <p class="col-xs-8">{{ faq.answer }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
