<html>
<head>
</head>
    <body>
        <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
        <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;" >Bonjour {{ name }}</h1>
        <hr style="border:none;width:90px;height:8px;background: #E60F33;margin-bottom: 15px;">

        <p>Vous avez reçu un nouveau message !</p>
        <p>Connectez vous sur <a href="http://the-booster.com">The Booster</a> pour le consulter</p>

        <p>L'équipe The Booster</p>
        <p>Contact@the-booster.com</p>
        <br>
        <p>Suivre The Booster sur nos réseaux sociaux</p>
        <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Facebook_Square_icon-icons.com_49948.png" alt="facebook"></a>
        <a href="https://twitter.com/ZeBooster" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Twitter_icon-icons.com_49936.png" alt="twitter"></a>
        <p>Ceci est un mail automatique, merci de ne pas y répondre</p>
    </body>
</html>