<html>
    <head>
    </head>
        <body>
            <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
            <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;">Dépot d'un Coup de Boost sur The Booster</h1>
            <p>Votre Coup de Boost <strong>{{ project.projectName }}</strong> créé dans la catégorie <strong>{{ project.category }}</strong> est actuellement en cours de modération.</p>
            <p>La modération peut prendre entre 24h et 48h</p>
            <p>Un mail vous sera envoyé lorsqu'il sera publié.</p>
            <p>L'équipe the Booster vous remercie de votre compréhension.</p>
            <br>
            <p>Contact@the-booster.com</p>
            <br>
            <p>Suivre The Booster sur nos réseaux sociaux</p>
            <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Facebook_Square_icon-icons.com_49948.png" alt="facebook"></a>
            <a href="https://twitter.com/ZeBooster" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Twitter_icon-icons.com_49936.png" alt="twitter"></a>
            <p>Ceci est un mail automatique, merci de ne pas y répondre</p>
    </body>
</html>