<html>
    <head>
    </head>
    <body>
        <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
        <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;" >Coup de Boost</h1>
        <hr style="border:none;width:90px;height:8px;background: #E60F33;margin-bottom: 15px;">
        <p>Notre équipe de modération pourra éventuellement vous contacter afin d'affiner ensemble vos informations</p>
        <p>Une fois validé, votre besoin sera publié dans un délai maximun de 72 heures. Vous en serez averti par un email.</p>
        <p>A partir de ce moment, les Boosters pourront vous offrir leur temps, leurs compétences et vous aider à avancer</p>
        <p>Toute l'équipe de The Booster vous remercie et reste à votre disposition si vous avez des questions.</p>
        <p>L'équipe The Booster</p>
        <p>Contact@the-booster.com</p>
        <br>
        <p>Suivre The Booster sur nos réseaux sociaux</p>
        <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Facebook_Square_icon-icons.com_49948.png" alt="facebook"></a>
        <a href="https://twitter.com/ZeBooster" target="_blank"><img src="http://icon-icons.com/icons2/509/PNG/48/Twitter_icon-icons.com_49936.png" alt="twitter"></a>
        <p>Ceci est un message automatique, veuillez ne pas répondre directement à ce message.</p>
        <p><a href="www.the-booster.com/contact">Cliquez ici pour nous contacter directement</a></p>
    </body>
</html>