<html>
    <head>
    </head>
        <body>
            <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
            <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;">Un nouveau projet attend votre validation.</h1>
            <p>Le projet {{ project.projectName }} crée dans la catégorie {{ project.category }} est en attente d'une validation. </p>
            <p> <a href="www.the-booster.com/admin">Connection à l'administration du site.</a></p>
    </body>
</html>